.banner {
    width: 85%;
    min-height: 150px;
    margin: auto;
    border-radius: 1rem;
    background-color: black;
    mix-blend-mode: darken;
    opacity: 1;
    margin-bottom: 2rem;
    background-size: cover;
    background-position: center;
}


.titre-banner{
    color: white;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


@media screen and (width <= 768px) {
    .titre-banner {
        display: flex;
        align-items: flex-end;
    }
    .banner{
        width: 95% ;
    }
}

.bannerAccueil{
    background-image: url(/public/images/banner.png);
}
.bannerPropos{
    background-image: url(/public/images/bannerAPropos.png);
}