.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem;
    color: #FF6060;
    width: 100%;
    margin: 2% 0 2% 0;
}
.logo{
    width: 10%;
}
img{
    width: 100%;
}
ul li{
    list-style: none;
    margin: 0;
}
ul a{
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    width: 20%;
}
ul li:hover{
    display: inline-block;
    padding: 2px;
    border-bottom: #FF6060 2px solid;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: center;

}

@media screen and (width <= 768px) {
    li {
        font-size: 12px;
        text-transform: uppercase;
    }
    header{
        margin-left: 0;
        margin-right: 5%;
    }
    .propos{
        width: 8rem;
        justify-content: center;
        text-align: center;
        margin-right: 3rem;
        margin-left: 1rem;
    }
}